@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");


#profile {
    display: flex;
}

.image {
    width: 300px;
    position: relative;
    left: 30px;
}

.name {
    position: relative;
    left: 100px;
}

.datapro {
    display: inline;
    position: relative;
    left: 100px;
}