@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");

body {
    background-color: #0F3E70;
}

h2 {
    font-size: 30px;
    text-align: left;
}

#profile {
    background-color: white;
    display: flex;
    margin: 0 20px 20px 20px;
}

.logo {
    width: 600px;
}

.image {
    width: 300px;
    position: relative;
    left: 30px;
}

.name {
    position: relative;
    left: 100px;
}

.datapro {
    display: inline;
    position: relative;
    left: 50px;
}

.button {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-radius: 10px;
    border-color: #318aac;
    position: relative;
    z-index: 100;
}

.button:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}
  
.button2 {
    color: #fff !important;
    font-size: 40px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: inline;
    border: 2px solid #318aac;
    border-radius: 30px;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
 }

.button2:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

.align {
    text-align: center;
}

.icons {
    text-align: center;
}

.icons li {
    display: inline;
    padding-left:3px;
    padding-right:3px;
}

.copy li {
    display: inline;
    padding-left:3px;
    padding-right:3px;
}

@media screen and (max-width: 1080px){
    .logo {
        padding-top: 100px;
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 800px){
    .name {
        font-size: 20px;
    }

    .datapro {
        font-size: 12px;
    }

    .logo {
        visibility: hidden;
    }

    .stats {
        border : solid 2px #318aac;
        background : #000000;
        color : #ffffff;
        padding : 4px;
        width : 200px;
        height : 50px;
        overflow : auto;
    }

    .button {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px){
    .name {
        left: 0;
        text-align: left;
    }

    .datapro {
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }

    .button2 {
        font-size: 35px;
    }
}

@media screen and (max-width: 500px){

    h2 {
        text-align: center;
    }
    #profile {
        display: block;
        align-items: stretch;
    }

    .name {
        margin: 0px;
        font-size: small;
    }

    .pos {
        visibility: hidden;
    }

    .logo {
        width: 200px;
        height: 150px;
        visibility: visible;
        padding: 0px;
    }

    .button2 {
        font-size: 20px;
    }

    .image {
        width: 200px;
    }

    #table {
        overflow-x: scroll;
    }

    .icons {
        padding: 0px;
    }
}