@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");

body {
    background-color: #0F3E70;
}

h2 {
    font-size: 50px;
    text-align: center;
}

#main {
    background-color: white;
}

#profile {
    display: flex;
}

.logo {
    width: 600px;
}
.image {
    width: 300px;
    position: relative;
    left: 30px;
}

.name {
    position: relative;
    left: 100px;
}

.datapro {
    display: inline;
    position: relative;
    left: 100px;
}

.button {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 50px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
}

.button:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}
  
.button2 {
    color: #fff !important;
    font-size: 50px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: inline;
    border: 2px solid #318aac;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
 }

.button2:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff; 
}

.align {
    text-align: center;
}